<html>
<head>
    <title>Página Home</title>
</head>
    <h1>Título da página</h1>
    </hr>
    tudo bem? {{user}} você tem {{age}} anos
    {{#status}}
        Você é maior de idade
    {{/status}}
</html>