{{>partials/header}}

Opa {{name}} {{lastName}}, tudo bem?
{{#showOld}}
    Como vai a vida?
{{/showOld}}
{{^showOld}}
    Beleza?
{{/showOld}}
<hr/>
<hr/>
   {{>./partials/createUser}}
<hr/>
<h1>Novos usuarios</h1>
<ul>
    {{#users}}
        <p>
            
            <div style="display: flex; gap: 5px">
                {{id}}- {{name}} - {{age}} ({{firstLetter}})
                <form method='POST' action="/">
                    <input type="hidden" name="sum_id" value="{{id}}"/>
                    <input type="submit" value="+" />
                </form>
                <form method='POST' action="/">
                    <input type="hidden" name="sub_id" value="{{id}}"/>
                    <input type="submit" value="-" />
                </form>
                  <form method='POST' action="/">
                    <input type="hidden" name="exc_id" value="{{id}}"/>
                    <input type="submit" value="excluir" />
                </form>
            </div>
        <p>
    {{/users}}
    
</ul>
<hr/>

<h2>Produtos</h2>
<ul>
    {{#products}}
        {{>partials/productItem}}
    {{/products}}
</ul>

<hr/>
<h2>Produtos a partir de R$ 12</h2>
<ul>
    {{#expensives}}
        {{>partials/productItem}}
    {{/expensives}}
</ul>

<hr/>

<ul>
    {{#frasesDoDia}}
        <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
        Não há frases motivacionais hoje.
    {{/frasesDoDia}}
</ul>

{{>partials/footer}}

