 <form method="POST">
        <label value="New User">User</label>
        <input name="name" type="text" placeholder="Type it the name of user"/>
         <label value="Age">Age</label>
        <input name="idade" type="number" placeholder="Type it the age of user"/>
        <button type="submit">Insert User</button>
 </form>